*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav > i{
	display: none;
}

.nav > .logo{
	width: 120px;
}

.nav{
	padding: 35px;
	display: grid;
	grid-template-columns: 150px auto 120px 160px 120px 50px;
	align-items: center;
}

.nav > a{
	text-decoration: none;
	color: black;
}

.nav > select{
	appearance: none;
	border: none;
	background-image: url(./assets/Rectangle\ 18.svg);
	background-repeat: no-repeat;
	background-position: right 10px center;
	outline: none;
	font-weight: 700;
}

.img-banner{
	display: grid;
	justify-content: start;
	grid-template-rows: 200px 180px 50px;
	color: #ffffff;
	height: 622px;
	background-image: linear-gradient(to right, rgb(0, 0, 0)37%, rgba(0, 0, 0, 0)50%), url(./assets/image1.png);
	background-position: right;
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
	text-align: left;
	padding: 81px 0 0 89px;
}

.img-banner > p{
	font-family: Roboto;
	font-size: 22px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}

.logos-apps{
 display: grid;
 grid-template-columns: 200px auto;
}

.img-mob{
	display: none;
}
@media screen and (max-width: 992px){
	.nav{
		padding: 35px;
		display: grid;
		grid-template-columns: 150px auto 100px 140px 100px 50px;
		align-items: center;
	}
	
}

@media screen and (max-width: 800px){
	.nav > img{
		width: 100px;
	}

	.nav > p, select{
		display: none;
	}

	.nav > i{
		text-align: center;
		display: block;
		width: 100%;
	}

	.nav{
		padding: 15px;
		display: grid;
		grid-template-columns: auto 30px;
		align-items: center;
	}

	.nav > a{
		display: none;
	}
	
	.img-banner{
		display: grid;
		grid-template-rows: 80px 100px 50px;
		justify-content: center;
		justify-items: center;
		color: #000000;
		width: auto;
		background: none;
		height: auto;
		background-repeat: no-repeat;
		background-size: 50px;
		font-size: 15px;
		font-weight: 300;
		line-height: 50px;
		text-align: center;
		padding: 16px;
		align-items: center;
	}

	.logos-apps{
		display: grid;
		grid-template-columns: 130px 120px;
		align-items: center;
	}

	.img-banner > p{
		font-family: Roboto;
		font-size: 14px;
		font-weight: 300;
		line-height: 15px;
		text-align: center;
	}

	.logos-apps > img{
		height: 70%;
		display: flex;
		flex-direction: row;
	}

	.img-mob{
		width: 100vw;
		display: block;
	}

	.img-mob > img{
		width: 100vw;
	}
}