*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav > i{
	display: none;
}

.nav{
	padding: 35px;
	display: grid;
	grid-template-columns: 150px auto 120px 160px 120px 50px;
	align-items: center;
}

.nav > a{
	text-decoration: none;
	color: black;
}

.nav > select{
	appearance: none;
	border: none;
	background-image: url(./assets/Rectangle\ 18.svg);
	background-repeat: no-repeat;
	background-position: right 10px center;
	outline: none;
	font-weight: 700;
}

@media screen and (max-width: 992px){
	.nav{
		padding: 35px;
		display: grid;
		grid-template-columns: 150px auto 100px 140px 100px 50px;
		align-items: center;
	}
	
}

@media screen and (max-width: 800px){
	.nav > img{
		width: 80px;
	}

	.nav > p{
		display: none;
	}

	.nav > i{
		text-align: center;
		display: block;
		width: 100%;
	}

	.nav{
		padding: 35px;
		display: grid;
		grid-template-columns: auto 50px 30px;
		align-items: center;
	}

	.nav > a{
		display: none;
	}
	
}